# App
NEXT_PUBLIC_APP_URL=http://localhost:3000
APP_SECRET=change-this-to-a-random-string

# Admin Credentials
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=admin123

# BlockCypher
BLOCKCYPHER_TOKEN=your-blockcypher-api-token
BLOCKCYPHER_COIN=btc
CRYPTO_DESTINATION_ADDRESS=your-btc-wallet-address
CRYPTO_WEBHOOK_SECRET=your-webhook-secret

# NextAuth
NEXTAUTH_SECRET=change-this-to-a-random-secret
NEXTAUTH_URL=http://localhost:3000
