# App
NEXT_PUBLIC_APP_URL=http://localhost:3000

# Admin Credentials (change before deploying!)
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=change-me

# BlockCypher
BLOCKCYPHER_TOKEN=your-blockcypher-token
CRYPTO_DESTINATION_ADDRESS=your-btc-wallet-address
CRYPTO_WEBHOOK_SECRET=change-me-random-string

# NextAuth
NEXTAUTH_SECRET=change-me-random-string
NEXTAUTH_URL=http://localhost:3000
